<div class="usa-section background-medium">
    <div class="usa-grid usa-flex usa-flex-baseline">
      <div class="usa-width-two-thirds">
        <h3>Have a project in mind?</h3>
        <p>Find out if Planning Labs can help your division. We’d love to talk more, answer your questions, or learn more about what you’re working on.</p>
        <a href="https://ideas.planninglabs.nyc/create"><button class="usa-button usa-button-secondary">Submit an idea</button></a>
        <a href="{{ site.baseurl }}/contact/"><button class="usa-button usa-button-secondary">Get in touch</button></a>
      </div>
      <div class="usa-width-one-third">
      </div>
    </div>
  </div>
