<a class="skipnav" href="#main-content">Skip to main content</a>
<header role="banner">
  <div class="site-navbar usa-grid">
    <button class="menu-btn">Menu</button>
    <a class="site-logo media_link" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logos/labs-logo.png" alt="labslogo"
      {% if page.url == '/' %}
        aria-hidden="true"
      {% endif %}
      ></a>
    {% if page.url == '/' %}
      <h1 class="usa-sr-only">NYC Planning Labs</h1>
      {% else %}
        <span class="usa-sr-only">NYC Planning Labs</span>
    {% endif %}
    <nav role="navigation">
      {% include navigation.html navbar=true %}
    </nav>
  </div>
</header>
<div class="overlay"></div>
